{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
    {% include 'mainapp/includes/inc_menu.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-12">
            <h2 class="blog-title text-center">Мои статьи</h2>
            <div class="space"></div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Тема статьи</th>
                    <th>Дата создания</th>
                    <th>Публикация</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                 <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url 'personal:articles_update' article.id %}">{{ article.title }}</a></td>
                    <td>{{ article.create_date }}</td>
                    <td>
                        <button type="button" class="btn-sm btn-success">Опубликовать</button>
                    </td>
                    <td><a href=""><i class="ico-circle-cross"></i></a></td>
                </tr>
                {% endfor %}
               </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <button type="button" class="btn btn-default center-block">
                <a href="{% url 'personal:articles_create' %}">Создать статью</a>
            </button>
        </div>
        <div class="space"></div>
    </div>
{% endblock %}