<a href="/" class="logo"></a>
<ul class="menu">
    <li>
        <a href="{% url 'main' %}" class="{% if request.resolver_match.url_name == 'main' %}active{% endif %}">
            Главная
        </a>
    </li>
    <li>
        <a href="{% url 'habr' %}" class="{% if request.resolver_match.url_name == 'habr' %}active{% endif %}">
            Хабр
        </a>
    </li>
    <li>
        <a href="{% url 'help' %}" class="{% if request.resolver_match.url_name == 'help' %}active{% endif %}">
            Помощь
        </a>
    </li>
</ul>
<a href="#" class="search"></a>