<header class="site-header">
    <nav class="navbar navbar-default navbar-intimate role=" data-offset-top="50" data-spy="affix">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target="#navigation" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo">
                    <a class="navbar-brand" href=""><i class="ico-3dglasses"></i></a>
                </div>
            </div>
            <div class="side">
                <a class="show-search"><i class="ico-search"></i></a>
            </div>
            <form class="full-search" method="GET" id="searchform">
                <div class="container">
                    <div class="row">
                        <input class="form-control" placeholder="Search..." type="text" name="query"  value="{{ request.GET.query }}">
                        <a class="close-search">
                            <span class="ico-times"></span>
                        </a>
                    </div>
                </div>
            </form>
            <div class="navbar-collapse collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="{% url 'mainapp:index' %}">Главная</a>
                    </li>
                    {% for category in categories %}
                        {% if not category.is_deleted %}
                            <li>
                                <a href="{% url 'mainapp:articles' category.id %}">{{ category.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if user.is_authenticated %}
                        <li class="dropdown dropdown-toggle">
                            <a data-toggle="dropdown" href="{% url 'personal:main' %}" aria-expanded="false"><i
                                    class="ico-user"></i> {{ user.username }}</a>
                            <ul class="dropdown-menu">
                                {% if user.is_staff %}
                                    <li><a href="{% url 'personal:moderation' %}">Модерация</a></li>
                                    {% endif %}
                                <li><a href="{% url 'personal:articles' %}">Мои статьи</a></li>
                                <li><a href="{% url 'personal:main' %}">Сообщения</a></li>
                                <li><a href="{% url 'auth:profile' %}">Профиль</a></li>
                                <li><a href="{% url 'auth:logout' %}">Выйти</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'auth:login' %}"><i class="ico-user"></i></a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
    <ul class="wpb-mobile-menu">
        <li class="active">
            <a href="">Главная</a>
        </li>
        <li>
            <a href="">Дизайн</a>
        </li>
        <li>
            <a href="">Веб-разработка</a>
        </li>
        <li>
            <a href="">Мобильная разработка</a>
        </li>
        <li>
            <a href="">Маркетинг</a>
        </li>
    </ul>
</header>