{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
    {% include 'mainapp/includes/inc_menu.html' %}
{% endblock %}

{% block content %}
    <div class="row">
        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                {{ form.errors|escape }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <div class="col-md-10 col-md-offset-1 contact-form">
            <form class="shake" data-toggle="validator" id="registerForm" name="registerForm" role="form"
                  action="{% url 'auth:register' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="small mb-1" for="{{ form.username.id_for_label }}">Логин:</label>
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1" for="{{ form.email.id_for_label }}">E-mail:</label>
                        {{ form.email }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="small mb-1" for="{{ form.password1.id_for_label }}">Пароль:</label>
                            {{ form.password1 }}
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1" for="{{ form.password2.id_for_label }}">Подтвердите
                                пароль:</label>
                            {{ form.password2 }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="small mb-1" for="{{ form.last_name.id_for_label }}">Фамилия:</label>
                            {{ form.last_name }}
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1" for="{{ form.first_name.id_for_label }}">Имя:</label>
                            {{ form.first_name }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2">
                            <label class="small mb-1" for="{{ form.age.id_for_label }}">Возраст:</label>
                            {{ form.age }}
                        </div>

                        <div class="col-md-10">
                            <label class="small mb-1" for="{{ form.avatar.id_for_label }}">Аватар:</label>
                            {{ form.avatar }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-offset-3">
                        <button class="btn btn-common btn-sn disabled" id="submit" type="submit"
                                style="pointer-events: all; cursor: pointer;">Зарегистрироваться
                        </button>
                        <div class="h3 text-center hidden" id="msgSubmit">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
