{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
    {% include 'mainapp/includes/inc_menu.html' %}
{% endblock %}

<div class="row">
        <div class="col-md-4">
            <div class="list-group">
                {% for item in categories %}
                <a href="/category/{{ item.pk }}" class="list-group-item list-group-item-action active">{{ item.name }}
                </a>
                {% endfor %}
            </div>
        </div>
</div>

{% block content %}
    <div class="col-md-8">
        {% for article in page_obj.object_list %}
        <article>
            <div class="blog-item-wrap">
                <div class="post-format">
                    <span><i class="fa fa-camera"></i></span>
                </div>
                <h2 class="blog-title"><a href="./single.html">{{ article.name }}</a></h2>
                <div class="entry-meta">
                    <span class="meta-part"><i class="ico-user"></i><a href="./index.html">James Maclern</a></span>
                    <span class="meta-part"><i class="ico-calendar-alt-fill"></i><a
                            href="./index.html">{{ article.article_date }}</a></span>
                    <span class="meta-part"><i class="ico-comments"></i><a href="./index.html">20</a></span>
                    <span class="meta-part"><i class="ico-tag"></i><a href="./index.html">{{ article.category }}</a></span>
                    <span class="meta-part"><i class="ico-star"></i><a href="./index.html">7.5</a></span>
                </div>

                <div class="feature-inner">
                    <a data-lightbox="roadtrip" href="img/blog/blog-01.jpg.jpeg"><img alt=""
                                                                                      src="{{ article.image.url }}"></a>
                </div>

                <div class="post-content">
                    <p class="card-text">{{ article.description|linebreaks|truncatechars:400 }}</p>
                </div>
                <div class="entry-more">
                    <div class="pull-left">
                        <a class="btn btn-common" href="single.html">Read More <i
                                class="ico-arrow-right"></i></a>
                    </div>
                    <div class="share-icon pull-right">
                        <span class="socialShare"></span>
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
        <div class="post-quote text-center">
            <blockquote>
                <div class="icon">
                    <i class="ico-quote"></i>
                </div>
                <p>Design is not what its looks like and feels
                    like. Design is how it works...</p>
                <p class="client-name">- Steave Jobs, CEO,
                    Apple</p>
            </blockquote>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="row">
    <div class="col-md-4">
        <div class="list-group">
            {% for item in categories %}
                <a href="/category/{{ item.pk }}" class="list-group-item list-group-item-action active">{{ item.name }}
                </a>
            {% endfor %}
        </div>
    </div>
    {#    {% include 'mainapp/includes/inc_sidebar.html' %}#}
{% endblock sidebar %}