{% extends 'mainapp/base.html' %}
{% load static %}


{% block menu %}
<div class="hero-white">
	<div class="header clearfix">
		{% include 'mainapp/includes/inc_menu.html' %}
	</div>
</div>
{% endblock %}

{% block content %}
<div class="details">
	<div class="links clearfix">
		{% include 'mainapp/includes/inc_categories_menu.html' %}
	</div>

	<div class="details-habr">
		<div class="details-slider">
			<div class="slider-new">
				<img src="{% static 'img/slider1.jpg' %}">
			</div>
			<div class="slider-control">
				<div class="block">
					<a href="#"><img src="{% static 'img/controll.jpg' %}" alt="">
						<div class="text"></div>
					</a>
				</div>
				<div class="block">
					<a href="#"><img src="{% static 'img/controll1.jpg' %}" alt="">
						<div class="text"></div>
					</a>
				</div>
				<div class="block">
					<a href="#"><img src="{% static 'img/controll2.jpg' %}" alt="">
						<div class="text"></div>
					</a>
				</div>
			</div>
		</div>

		<div class="description">
			<h3 class="big-bold">Отличные новости</h3>
			<h3 class="red">Самые свежие</h3>
			<a href="#" class="red-button">
				просмотреть <i class="fa fa-chevron-right" aria-hidden="true"></i>
			</a>
			<div class="description-text">
				<p>Вчитывайтесь внимательно.</p>
				<p>Пишите здесь же статьи.</p>
				<p>Нам очень важно Ваше мнение и видение вопроса.</p>
			</div>
		</div>
	</div>

	<div class="related">
		<div class="title clearfix">
			<h2>Похожие новости</h2>
			<a class="explore" href="#">показать все <img src="{% static 'img/arrow.png' %}" alt=""></a>
		</div>
		<div class="related-habr clearfix">
			{% for same_new in same_habr %}
			<div class="block">
				<a href="#"><img src="{% static 'img/' %}{{ same_new.image_src }}" alt="{{ same_new.image_alt }}">
					<div class="text">
						<img src="{% static 'img/icon-hover.png' %}" alt="img">
						<h4>{{ same_new.name }}</h4>
						<p>{{ same_new.desc }} </p>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<div class="clr"></div>

{% endblock %}