{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
    {% include 'mainapp/includes/inc_menu.html' %}
{% endblock %}

{% block content %}
    <div class="col-md-8">
        {% for item in articles %}
        <article>
            <div class="blog-item-wrap">
                <div class="post-format">
                    <span><i class="fa fa-camera"></i></span>
                </div>
                <h2 class="blog-title"><a href="./single.html">{{ item.name }}</a></h2>
                <div class="entry-meta">
                    <span class="meta-part"><i class="ico-user"></i><a href="./index.html">James Maclern</a></span>
                    <span class="meta-part"><i class="ico-calendar-alt-fill"></i><a
                            href="./index.html">{{ item.article_date }}</a></span>
                    <span class="meta-part"><i class="ico-comments"></i><a href="./index.html">20</a></span>
                    <span class="meta-part"><i class="ico-tag"></i><a href="./index.html">{{ item.category }}</a></span>
                    <span class="meta-part"><i class="ico-star"></i><a href="./index.html">7.5</a></span>
                </div>

                <div class="feature-inner">
                    <a data-lightbox="roadtrip" href="img/blog/blog-01.jpg.jpeg"><img alt=""
                                                                                      src="{{ item.image.url }}"></a>
                </div>

                <div class="post-content">
                    <p class="card-text">{{ item.description|linebreaks|truncatechars:400 }}</p>
                </div>
                <div class="entry-more">
                    <div class="pull-left">
                        <a class="btn btn-common" href="single.html">Read More <i
                                class="ico-arrow-right"></i></a>
                    </div>
                    <div class="share-icon pull-right">
                        <span class="socialShare"></span>
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
        <article>
            <div class="blog-item-wrap">
                <div class="post-format">
                    <span><i class="fa fa-video-camera"></i></span>
                </div>
                <h2 class="blog-title"><a href="single.html">Intimate - Made with Bootstrap and HTML5</a>
                </h2>
                <div class="entry-meta">
                    <span class="meta-part"><i class="ico-user"></i> <a href="#">James Maclern</a></span>
                    <span class="meta-part"><i class="ico-calendar-alt-fill"></i> <a href="#">January 7, 2015</a></span>
                    <span class="meta-part"><i class="ico-comments"></i> <a href="#">20</a></span>
                    <span class="meta-part"><i class="ico-tag"></i> <a href="#">Tech</a></span>
                    <span class="meta-part"><i class="ico-star"></i> <a href="#">7.5</a></span>
                </div>

                <div class="feature-inner">
                    <iframe allowfullscreen="" frameborder="0" height="345"
                            src="https://player.vimeo.com/video/93736031?title=0&amp;byline=0&amp;portrait=0"
                            width="100%"></iframe>
                    <p><a href="https://vimeo.com/93736031">TheSynapse mobile app</a> from <a
                            href="https://vimeo.com/jeffgalea">Jeff Galea</a> on
                        <a href="https://vimeo.com">Vimeo</a>.</p>
                </div>

                <div class="post-content">
                    <p>HP is not normally the first company that
                        comes to mind when you think of top-notch
                        laptop design, but it just took a giant stride
                        to make you think again. Its new EliteBook
                        Folio sets its sights firmly on the <a
                                href="http://thenextweb.com/apple/2015/06/12/the-new-macbook-is-my-dream-machine-and-i-dont-care-about-the-compromises/#gref">
                            2015 MacBook</a>&#160;&#226;&#128;&#147; from what I&#226;&#128;&#153;ve
                        seen&#160;so far it looks like it&#226;&#128;&#153;s going to be
                        a fair fight.</p>
                    <p>At first glance, it ticks all the boxes. The
                        laptop is only 12.4 mm at its thickest point
                        and weighs 2.2 lb (versus 13.1 mm/2.03 lb on
                        the MacBook), and comes in an attractive
                        metallic finish. The pictures don&#226;&#128;&#153;t really do
                        it justice &#226;&#128;&#147; it&#226;&#128;&#153;s more gunmetal than silver and
                        has a more reflective sheen than the flat matte
                        so prevalent in Apple products.</p>
                </div>
                <div class="entry-more">
                    <div class="pull-left">
                        <a class="btn btn-common" href="single.html">Read More <i
                                class="ico-arrow-right"></i></a>
                    </div>
                    <div class="share-icon pull-right">
                        <span class="socialShare"></span>
                    </div>
                </div>
            </div>
        </article>

        <div class="post-quote text-center">
            <blockquote>
                <div class="icon">
                    <i class="ico-quote"></i>
                </div>
                <p>Design is not what its looks like and feels
                    like. Design is how it works...</p>
                <p class="client-name">- Steave Jobs, CEO,
                    Apple</p>
            </blockquote>
        </div>

        <article>

            <div class="blog-item-wrap">

                <div class="post-format">
                    <span><i class="fa fa-volume-up"></i></span>
                </div>
                <h2 class="blog-title"><a href="single.html">Let&#226;&#128;&#153;s enjoy the music</a></h2>
                <div class="entry-meta">
                    <span class="meta-part"><i class="ico-user"></i> <a href="#">James Maclern</a></span>
                    <span class="meta-part"><i class="ico-calendar-alt-fill"></i> <a href="#">January 7, 2015</a></span>
                    <span class="meta-part"><i class="ico-comments"></i> <a href="#">20</a></span>
                    <span class="meta-part"><i class="ico-tag"></i> <a href="#">Tech</a></span>
                    <span class="meta-part"><i class="ico-star"></i> <a href="#">7.5</a></span>
                </div>

                <div class="feature-inner">
                    <iframe frameborder="no" height="280" scrolling="no"
                            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/230240104&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"
                            width="100%"></iframe>
                </div>

                <div class="post-content">
                    <p>If pre-show appearances were any inclination
                        of what we were about to see, this would have
                        made for an amazing annoucement designed to
                        show off Sony&#226;&#128;&#153;s new wares. But if you believe
                        that large and impressive-looking booth spaces
                        and hundreds of reporters are a sign of great
                        things to come, you&#226;&#128;&#153;d be mistaken.</p>
                </div>
                <div class="entry-more">
                    <div class="pull-left">
                        <a class="btn btn-common" href="single.html">Read More <i
                                class="ico-arrow-right"></i></a>
                    </div>
                    <div class="share-icon pull-right">
                        <span class="socialShare"></span>
                    </div>
                </div>
            </div>
        </article>

        <article>

            <div class="blog-item-wrap">

                <div class="post-format">
                    <span><i class="fa fa-picture-o"></i></span>
                </div>
                <h2 class="blog-title"><a href="single.html">Have an Amazing Blogging and Portfolio Showcase
                    Experience</a></h2>
                <div class="entry-meta">
                    <span class="meta-part"><i class="ico-user"></i> <a href="#">James Maclern</a></span>
                    <span class="meta-part"><i class="ico-calendar-alt-fill"></i> <a href="#">January 7, 2015</a></span>
                    <span class="meta-part"><i class="ico-comments"></i> <a href="#">20</a></span>
                    <span class="meta-part"><i class="ico-tag"></i> <a href="#">Tech</a></span>
                    <span class="meta-part"><i class="ico-star"></i> <a href="#">7.5</a></span>
                </div>

                <div class="feature-inner">

                    <div class="post-thumb">
                        <div class="touch-slider owl-carousel">
                            <div class="item">
                                <a href="#"><img alt="" src="{% static 'img/blog/blog-04.jpg.jpeg' %}"></a>
                            </div>
                            <div class="item">
                                <a href="#"><img alt="" src="{% static 'img/blog/blog-01.jpg.jpeg' %}"></a>
                            </div>
                            <div class="item">
                                <a href="#"><img alt="" src="{% static 'img/blog/blog-05.jpg.jpeg' %}"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="post-content">
                    <p>The Netherlands government vocalized its
                        support for the use of encryption to maintain
                        privacy online, in <a
                                href="http://www.tweedekamer.nl/kamerstukken/brieven_regering/detail?id=2016Z00009&amp;did=2016D00015"
                                target="_blank">a statement issued on
                            Monday</a>.</p>
                    <p>The country&#226;&#128;&#153;s minister of security and
                        justice Ard van der Steur wrote that the Dutch
                        executive cabinet endorsed &#226;&#128;&#156;the importance of
                        strong encryption for Internet security to
                        support the protection of privacy for citizens,
                        companies, the government, and the entire Dutch
                        economy.</p>
                    <p>Therefore, the government believes that it
                        is currently not desirable to take legal
                        measures against the development, availability
                        and use of encryption within the
                        Netherlands.&#226;&#128;&#157;</p>
                    <p></p>
                </div>
                <div class="entry-more">
                    <div class="pull-left">
                        <a class="btn btn-common" href="single.html">Read More <i
                                class="ico-arrow-right"></i></a>
                    </div>
                    <div class="share-icon pull-right">
                        <span class="socialShare"></span>
                    </div>
                </div>
            </div>
        </article>

        <div class="post-quote text-center">
            <blockquote>
                <div class="icon">
                    <i class="ico-reply"></i>
                </div>
                <p>Design is not what its looks like and feels
                    like. Design is how it works...</p><a href="#">https://youtu.be/sPfJQmpg5zk</a>
            </blockquote>
        </div>

        <article>

            <div class="blog-item-wrap">

                <div class="post-format">
                    <span><i class="ico-bookmark"></i></span>
                </div>
                <h2 class="blog-title"><a href="#">Clean and Simplified UI/UX</a></h2>
                <div class="entry-meta">
                    <span class="meta-part"><i class="ico-user"></i> <a href="#">James Maclern</a></span>
                    <span class="meta-part"><i class="ico-calendar-alt-fill"></i> <a href="#">January 7, 2015</a></span>
                    <a href="#">20</a></span>
                    <span class="meta-part"><i class="ico-tag"></i> <a href="#">Tech</a></span>
                    <span class="meta-part"><i class="ico-star"></i> <a href="#">7.5</a></span>
                </div>

                <div class="post-content">
                    <p>The first day of work of 2016 brings with it
                        the dread of a dawning realization for most&#226;&#128;&#166;
                        you&#226;&#128;&#153;ve made New Year&#226;&#128;&#153;s resolutions, and you
                        have to stick to them. Or, at the very least,
                        you should give it the old college try.
                        According to a study by the University of
                        Scranton published in the Journal of
                        Psychology, 45 percent of Americans usually
                        make resolutions, but only 8 percent are
                        successful. It also found that those who
                        explicitly make resolutions are ten times more
                        likely to succeed in accomplishing them.</p>
                </div>
                <div class="entry-more">
                    <div class="pull-left">
                        <a class="btn btn-common" href="single.html">Read More <i
                                class="ico-arrow-right"></i></a>
                    </div>
                    <div class="share-icon pull-right">
                        <span class="socialShare"></span>
                    </div>
                </div>
            </div>
        </article>

        <article>

            <ul class="pager">
                <li class="previous">
                    <a href="#"><i class="ico-arrow-left"></i>Previous</a>
                </li>
                <li style="list-style: none">
                    <span class="active"><a href="#">1</a></span>
                    <span><a href="#">2</a></span>
                    <span><a href="#">3</a></span>
                    <span><a href="#">4</a></span>
                    <span><a href="#">5</a></span>
                </li>
                <li class="next">
                    <a href="#">Next <i class="ico-arrow-right"></i></a>
                </li>
            </ul>
        </article>
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'mainapp/includes/inc_sidebar.html' %}
{% endblock sidebar %}
