{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu %}
    {% include 'mainapp/includes/inc_menu.html' %}
{% endblock %}
{% block top %}
    <section class="text-center" id="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="intro-area">
                        <h2 class="page-title">Personal Blog and Portfolio Template</h2>
                        <div class="entry-meta">
<span class="meta-part"><i class="ico-user"></i>
<a href="./single.html">James Maclern</a></span> <span class="meta-part"><i class="ico-calendar-alt-fill"></i>
<a href="./single.html">January 7, 2015</a></span> <span class="meta-part"><i class="ico-comments"></i> <a
                                href="./single.html">20</a></span> <span class="meta-part"><i class="ico-tag"></i> <a
                                href="./single.html">Tech</a></span>
                            <span class="meta-part"><i class="ico-star"></i>
<a href="./single.html">7.5</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block content %}
    <div class="single-post" id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                    <article class="single-post-content">

                        <div class="blog-item-wrap">
                            <a href="./single.html"><img alt="" src="{% static 'img/blog/blog-01.jpg.jpeg' %}"></a>
                        </div>
                        <br>
                        <blockquote class="capton">
                            <p>Twitter is asking its users to tell brands
                                exactly what they think of their ads with the
                                launch of its new conversational advertising
                                format.</p>
                        </blockquote>
                        <p>Consider that alongside cheap devices like the
                            <a href="../../../thenextweb.com/google/2015/09/29/hands-on-with-googles-new-chromecast-audio-35-streaming-dongle/gref">
                                Chromecast Audio</a>, which makes old stereos usable
                            again, and that sort of flexibility has to be of
                            concern to companies like <a
                                    href="../../../thenextweb.com/gadgets/2015/10/29/sonos-play5-review-worth-the-price-on-audio-quality-alone/gref">
                                Sonos and its awesome multi-room speaker
                                setups</a>.</p><br>
                        <p>You&#226;&#128;&#153;ll then receive an automated thank you, which
                            offers another opportunity for them to shine as it&#226;&#128;&#153;ll
                            appear in your timeline along with the original
                            message. This is much like other publishers have been
                            doing for a while, with automated Tweet buttons from
                            their stories that link directly into Twitter. The ads
                            are live in beta with select brands across the world,
                            with Samsung one of the first to try them.</p>

                        <div class="feature-inner single-space">

                            <div class="post-thumb">
                                <div class="touch-slider owl-carousel">
                                    <div class="item">
                                        <a href="./single.html"><img alt=""
                                                                     src="{% static 'img/blog/blog-05.jpg.jpeg' %}"></a>
                                    </div>
                                    <div class="item">
                                        <a href="./single.html"><img alt=""
                                                                     src="{% static 'img/blog/blog-04.jpg.jpeg' %}"></a>
                                    </div>
                                    <div class="item">
                                        <a href="./single.html"><img alt=""
                                                                     src="{% static 'img/blog/blog-01.jpg.jpeg' %}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>But brands beware. It&#226;&#128;&#153;s already pretty easy to get
                            in touch with someone on Twitter if you want to talk to
                            them and it&#226;&#128;&#153;s not always a nice conversation that
                            people want to have.</p>
                        <blockquote class="quote">
                            <p>The ads are live in beta with select brands
                                across the world, with Samsung one of the first to
                                try them.</p><span><i class="ico-quote"></i></span>
                        </blockquote>
                        <p>Perhaps more interestingly, however, Google also
                            announced new Cast partners for audio products,
                            including the likes of B&amp;O Play, Harman Kardon, Onkyo,
                            Philips, Pioneer, and Raumfeld. There will also be new
                            models from Sony and LG, who already offer Cast-enabled
                            devices. Ultimately, what this means is that you&#226;&#128;&#153;ll be
                            able to recreate a multi-room synced playback setup
                            using ad-hoc brands and types of speakers, if you
                            want.</p>
                        <div class="feature-inner single-space">
                            <a href="./single.html"><img alt="" src="{% static 'img/blog/blog-02.jpg.jpeg' %}"></a>
                        </div>
                        <div class="links">
                            <a class="heart" href="./single.html"><i class="ico-heart"></i>
                                (143)</a> <a class="twitter" href="./single.html"><i
                                class="ico-twitter-with-circle"></i>
                            Tweet</a> <a class="facebook" href="./single.html"><i class="ico-facebook-with-circle"></i>
                            Share</a> <a class="google-plus" href="./single.html"><i
                                class=" ico-google-with-circle"></i>
                            Google+</a>
                            <a class="linkedin" href="./single.html"><i class="ico-linkedin-with-circle"></i>
                                Linkedin</a>
                        </div>
                    </article>

                    <article>
                        <div class="author">
                            <div class="author-img"><img alt="" src="{% static 'img/blog/portfolio.jpg.jpeg' %}"></div>
                            <div class="author-content">
                                <h4>About Marggaret Gould</h4>
                                <p>Margaret Gould Stewart is Director of
                                    Product Design at Facebook, Inc, leading the
                                    company's user experience efforts around
                                    advertising and business presence. Prior to her
                                    current role, she spent three years leading UX
                                    for YouTube, and two years leading Search and
                                    Consumer Products UX at Google.</p><a class="btn btn-common btn-more"
                                                                          href="./single.html">Learn More
                                <i class="ico-arrow-right"></i></a>
                            </div>
                        </div>
                    </article>

                    <article>

                        <div id="comments">
                            <ol class="comments-list">
                                <li>
                                    <div class="comment-box clearfix">
                                        <div class="avatar">
                                            <a href="./single.html"><img alt=""
                                                                         src="{% static 'img/blog/user1.jpg.jpeg' %}"></a>
                                        </div>
                                        <div class="comment-content">
                                            <div class="comment-meta">
                                                <h4 class="comment-by"><a href="./single.html">Anna Ostyankoa</a></h4>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet,
                                                consectetur adipisicing elit, sed
                                                do eiusmod tempor incididunt ut
                                                labore et dolore magna aliqua. Ut
                                                enim ad minim veniam, quis nostrud
                                                exercitation ullamco laboris nisi
                                                ut aliquip ex ea commodo
                                                consequat.</p><a class="reply-link" href="./single.html">Reply</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <ul>
                                        <li>
                                            <div class="comment-box clearfix">
                                                <div class="avatar">
                                                    <a href="./single.html"><img alt=""
                                                                                 src="{% static 'img/blog/user2.jpg.jpeg' %}"></a>
                                                </div>
                                                <div class="comment-content">
                                                    <div class="comment-meta">
                                                        <h4 class="comment-by">
                                                            <a href="./single.html">Anna Ostyankoa</a></h4>
                                                    </div>
                                                    <p>Lorem ipsum dolor sit
                                                        amet, consectetur
                                                        adipisicing elit, sed do
                                                        eiusmod tempor incididunt
                                                        ut labore et dolore magna
                                                        aliqua. Ut enim ad minim
                                                        veniam, quis nostrud
                                                        exercitation ullamco
                                                        laboris nisi ut aliquip ex
                                                        ea commodo
                                                        consequat.</p><a class="reply-link"
                                                                         href="./single.html">Reply</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="comment-box clearfix">
                                                <div class="avatar">
                                                    <a href="./single.html"><img alt=""
                                                                                 src="{% static 'img/blog/user2.jpg.jpeg' %}"></a>
                                                </div>
                                                <div class="comment-content">
                                                    <div class="comment-meta">
                                                        <h4 class="comment-by">
                                                            <a href="./single.html">Anna
                                                                Ostyankoa</a></h4>
                                                    </div>
                                                    <p>Lorem ipsum dolor sit
                                                        amet, consectetur
                                                        adipisicing elit, sed do
                                                        eiusmod tempor incididunt
                                                        ut labore et dolore magna
                                                        aliqua. Ut enim ad minim
                                                        veniam, quis nostrud
                                                        exercitation ullamco
                                                        laboris nisi ut aliquip ex
                                                        ea commodo
                                                        consequat.</p><a class="reply-link"
                                                                         href="./single.html">Reply</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="comment-box clearfix">
                                        <div class="avatar">
                                            <a href="./single.html"><img alt=""
                                                                         src="{% static 'img/blog/user4.jpg.jpeg' %}"></a>
                                        </div>
                                        <div class="comment-content">
                                            <div class="comment-meta">
                                                <h4 class="comment-by"><a href="./single.html">Anna Ostyankoa</a></h4>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet,
                                                consectetur adipisicing elit, sed
                                                do eiusmod tempor incididunt ut
                                                labore et dolore magna aliqua. Ut
                                                enim ad minim veniam, quis nostrud
                                                exercitation ullamco laboris nisi
                                                ut aliquip ex ea commodo
                                                consequat.</p><a class="reply-link" href="./single.html">Reply</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="comment-box clearfix">
                                        <div class="avatar">
                                            <a href="./single.html"><img alt=""
                                                                         src="{% static 'img/blog/user4.jpg.jpeg' %}"></a>
                                        </div>
                                        <div class="comment-content">
                                            <div class="comment-meta">
                                                <h4 class="comment-by"><a href="./single.html">Anna Ostyankoa</a></h4>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet,
                                                consectetur adipisicing elit, sed
                                                do eiusmod tempor incididunt ut
                                                labore et dolore magna aliqua. Ut
                                                enim ad minim veniam, quis nostrud
                                                exercitation ullamco laboris nisi
                                                ut aliquip ex ea commodo
                                                consequat.</p><a class="reply-link" href="./single.html">Reply</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="comment-box clearfix">
                                        <div class="avatar">
                                            <a href="./single.html"><img alt=""
                                                                         src="{% static 'img/blog/user4.jpg.jpeg' %}"></a>
                                        </div>
                                        <div class="comment-content">
                                            <div class="comment-meta">
                                                <h4 class="comment-by"><a href="./single.html">Anna Ostyankoa</a></h4>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet,
                                                consectetur adipisicing elit, sed
                                                do eiusmod tempor incididunt ut
                                                labore et dolore magna aliqua. Ut
                                                enim ad minim veniam, quis nostrud
                                                exercitation ullamco laboris nisi
                                                ut aliquip ex ea commodo
                                                consequat.</p><a class="reply-link" href="./single.html">Reply</a>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </article>

                    <article>

                        <div id="respond">
                            <h2 class="respond-title">Add Comment</h2>
                            <form action="./single.html">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input class="form-control" id="author" name="author" placeholder="Name"
                                               size="30"
                                               type="text" value="">
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control" id="email" name="author" placeholder="Email"
                                               size="30"
                                               type="text" value="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                    <textarea class="form-control" cols="45" id="comment" name="comment"
                                              placeholder="Comment" rows="8"></textarea> <a
                                            class="btn btn-common btn-more" id="submit" type="submit"><i
                                            class="fa fa-check"></i> Submit Comment</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </article>

                    <article>
                        <div class="relate-post">
                            <h4>Releate Post</h4>
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="posts-list">
                                        <li>
                                            <div class="widget-thumb">
                                                <a href="./single.html"><img alt=""
                                                                             src="{% static 'img/post/post1.jpg.jpeg' %}"></a>
                                            </div>
                                            <div class="widget-content">
                                                <a href="./single.html">Aladdin rides
                                                    'magic carpet' at New York in
                                                    Halloween prank</a>
                                                <div class="meta">
                                                    <span><i class="ico-calendar-alt-fill"></i> October 7,2015</span>
                                                    <span><i class="ico-tag"></i> Technology</span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="posts-list">
                                        <li>
                                            <div class="widget-thumb">
                                                <a href="./single.html"><img alt=""
                                                                             src="{% static 'img/post/post2.jpg.jpeg' %}"></a>
                                            </div>
                                            <div class="widget-content">
                                                <a href="./single.html">New Zealand makes
                                                    history by winning third Rugby
                                                    WC</a>
                                                <div class="meta">
                                                    <span><i class="ico-calendar-alt-fill"></i> October 7,2015</span>
                                                    <span><i class="ico-tag"></i>Technology</span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="posts-list">
                                        <li>
                                            <div class="widget-thumb">
                                                <a href="./single.html"><img alt=""
                                                                             src="{% static 'img/post/post3.jpg.jpeg' %}"></a>
                                            </div>
                                            <div class="widget-content">
                                                <a href="./single.html">Romania calls for 3
                                                    days of mourning after
                                                    nightclub fire kills at least
                                                    27</a>
                                                <div class="meta">
                                                    <span><i class="ico-calendar-alt-fill"></i>October 7,2015</span>
                                                    <span><i class="ico-tag"></i>Technology</span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="posts-list">
                                        <li>
                                            <div class="widget-thumb">
                                                <a href="./single.html"><img alt=""
                                                                             src="{% static 'img/post/post4.jpg.jpeg' %}"></a>
                                            </div>
                                            <div class="widget-content">
                                                <a href="./single.html">3 years of 'Star
                                                    Wars Episode VII' fandom,
                                                    celebrated</a>
                                                <div class="meta">
                                                    <span><i class="ico-calendar-alt-fill"></i>October 7,2015</span>
                                                    <span><i class="ico-tag"></i>Technology</span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>


{% endblock %}
{% block sidebar %}
    {% include 'mainapp/includes/inc_sidebar.html' %}
{% endblock sidebar %}